.btn,.ivsdl_start{background:rgb(78,159,216) !important;color:#fff;border:1px solid;padding:5px 15px;border-radius: :5px;cursor:pointer;float:right;}
.ivs-bc a:hover.btn{background:rgb(78,159,216) !important;color:#fff;}

/*
	Back End Styles
*/
.block1{width:40%;float:left;}
.plugins-block{width:100%;float:left;}
.plugin{padding:5px;margin:5px;float:left;width:95%;height:50px;}

.plugin-label{width:25%;float:left;padding:5px;}
.plugin-btn{width:60%;float:left;padding:5px;margin-left: 10px}
.plugin-btn input[type='text']{width:100%;padding:5px;line-height: 25px}
.plugin-btn a{padding:5px;background:#4885B0;color:#fff;text-decoration: none;border-radius: 3px}
.ivs-btn{background:#4581A8;border-radius: 3px;color:#fff;border:none;cursor: pointer}
.plugins-list{background:#fff;padding:5px;float:left;}
.plugins-list th{text-align: left;padding:5px;}
.plugins-list td{padding:5px;border-bottom:1px solid;}


/* Backend IVS Form - Start 04/03/2015 */

.ivs-bc .setting{width: 55%;float: left;margin-right: 15px;}
.ivs-bc .info{width: 29%;float: left;background: #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.ivs-bc .info img{max-width: 300px;margin: 20px auto;}
.ivs-bc .setting .form-table td{padding: 7px!important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body .ivs-bc .setting table.form-table tr td:nth-child(1){font-weight: bold;width: 38%;}
body .ivs-bc .setting table.form-table tr td:nth-child(2){width: 60%;}
body .ivs-bc .setting table.form-table tr td:nth-child(2) input{width: 100%;height: 40px;}
body .ivs-bc .setting table.form-table tr td:nth-child(2) input[type="submit"]{width: 75px;}



@media (max-width: 1100px) and (min-width: 781px) {
.ivs-bc .setting{width: 100%;float: none;}
.ivs-bc .info{width: 100%;margin-top: 20px;}
}
@media (max-width: 1350px) and (min-width: 1099px) {
.ivs-bc .setting{width: 70%;float: none;}
.ivs-bc .info{width: 100%;margin-top: 20px;}
}

@media (max-width: 780px) and (min-width: 320px) {
.ivs-bc .setting{width: 100%;float: none;}
.ivs-bc .info{width: 100%;margin-top: 20px;}
body .ivs-bc .setting .form-table td{padding-bottom: 2px!important;margin-bottom: 0px!important;}
body .ivs-bc .setting table.form-table tr td:nth-child(2){margin-bottom: 20px!important;}
body .ivs-bc .setting table.form-table {width: 100%!important;}
body .ivs-bc .setting table.form-table td{width: 100%!important;}
body .ivs-bc .setting table.form-table tr td.td-btn{text-align: center;}
}
/* Backend IVS Form - End */


.resend_sms{}
/*.btn,#verify_mcv,#verify_mcv_code{width:150px;cursor:pointer;float:right;border-radius: 5px;padding:10px;font-size: 16px;}*/
.ivs-btn{float:right;}
/*#verify_mcv,#verify_mcv_code{width:75px !important;padding:6px;font-size: 14px;border-radius: 5px;text-align: center;font-weight:bold;}*/
.ivs-btn a{text-align: center}
.verification_list{text-transform: uppercase;font-size:13px;padding:5px 22px;}
.description{text-transform: uppercase;;font-size:18px !important;text-align:Center}
ol{margin : 0px 20px;padding:3px 24px;}
ol li{padding:4px;}
.required{color:Red;}
.err{color:Red;}
.title{width:250px;}
.ui-widget-content{background:#fff !important;}



/* Frontend IVS Form - Start 03/03/2015 */

.ivs-form1{margin-bottom:50px;float:left;width:75%;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;padding:20px;background:#ededed;}
.ivs-inner-form{width:58% !important;float:left;}
.ivs-field {margin: 5px 0px;}
.ivs-field label{width:29%;float: left;}
.ivs-field input{width:70%!important;float: right;}
.ivs-field .btn{width: 75px!important;margin-left: 7px;float: left;}
.ivs-field select{background: none repeat scroll 0 0 #f9f9f9;border: 1px solid #e0e0e0;float: right;height: 40px;width: 70% !important;padding-left: 5px;}
.ivs-radio {float: right;width:70%!important;margin:9px 0px; }
.ivs-radio input{float: none;display: inline;width: auto!important;}
.ivs-field .ivs-input{width:70%!important;float: right;}
.ivs-field .ivs-input input{width:100%!important;}
.ivs-field .ivs-input select{width:100%!important;}
.ivs-field .ivs-input .err{display: inline-block;
    font-size: 13px;
    font-style: italic;
    margin-top: 7px !important;}


.content-element-1 h3{font-size: 22px;}
table.response-tbl{width:100%!important;margin: 20px 0!important;border: 1px solid #ededed; max-width:600px; background: #ededed;}
table.response-tbl td{padding: 7px 10px!important;}


@media (max-width: 525px) and (min-width: 320px) {
	.ivs-form{width: 100%;}
	.ivs-field label{display: none;}
	.ivs-field .ivs-input{width:100%!important;float: none;}
	.ivs-radio {width: 100%!important;}
	.ivs-btn {text-align: center;}
	.ivs-field .btn {float: none;text-align: center;}
	table.response-tbl{width:100%!important;}

}
@media (max-width: 768px) and (min-width: 526px) {
		.ivs-form{width: 100%;}
		table.response-tbl{width:75%!important;}
	}
	@media (max-width: 1200px) and (min-width: 769px) {
		.ivs-form{width: 75%;}
	}
/*.ivs-message{font-style:italic;color: lightcyan;background: rgb(78,159,216) !important;width: 35%;text-align: Center;padding: 5px;display:none;}*/
.resend-block{float:left;}



.alert-static {
display: none;
background-color: #FCF8E3;
border: 1px solid #fffff4;
border-radius: 4px 4px 4px 4px;
color: #C09853;
margin-bottom: 18px;
padding: 8px 35px 8px 14px;
text-shadow: 0 1px 0 rgba(255,255,255,0.5);
font-family: "open sans";
text-align: center;
font-size: 14px;
}

.tbl-list tr th,.tbl-list tr td{padding:15px;width:150px;text-align: left;line-height: :30px;border-bottom:1px solid #dfdfdf;border-right:1px solid #dfdfdf;}
.tbl-list tr th:last-child,.tbl-list tr td:last-child{border-right:0px solid #dfdfdf;}
/* Frontend IVS Form - End */


/* Backend IVS Form - Start 04/03/2015 */

.ivs-bc .setting{width: 55%;float: left;margin-right: 15px;}
.ivs-bc .info{width: 29%;float: left;background: #fff;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.ivs-bc .info img{max-width: 300px;margin: 20px auto;}
.ivs-bc .setting .form-table td{padding: 7px!important;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
body .ivs-bc .setting table.form-table tr td:nth-child(1){font-weight: bold;width: 38%;}
body .ivs-bc .setting table.form-table tr td:nth-child(2){width: 60%;}
body .ivs-bc .setting table.form-table tr td:nth-child(2) input{width: 100%;height: 40px;}
body .ivs-bc .setting table.form-table tr td:nth-child(2) input[type="submit"]{width: 75px;}



@media (max-width: 1100px) and (min-width: 781px) {
.ivs-bc .setting{width: 100%;float: none;}
.ivs-bc .info{width: 100%;margin-top: 20px;}
}
@media (max-width: 1350px) and (min-width: 1099px) {
.ivs-bc .setting{width: 70%;float: none;}
.ivs-bc .info{width: 100%;margin-top: 20px;}
}

@media (max-width: 780px) and (min-width: 320px) {
.ivs-bc .setting{width: 100%;float: none;}
.ivs-bc .info{width: 100%;margin-top: 20px;}
body .ivs-bc .setting .form-table td{padding-bottom: 2px!important;margin-bottom: 0px!important;}
body .ivs-bc .setting table.form-table tr td:nth-child(2){margin-bottom: 20px!important;}
body .ivs-bc .setting table.form-table {width: 100%!important;}
body .ivs-bc .setting table.form-table td{width: 100%!important;}
body .ivs-bc .setting table.form-table tr td.td-btn{text-align: center;}
}
/* Backend IVS Form - End */

.main-form-plg.mobls *{
-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;

}
.main-form-plg.mobls .ivs-form{

	background: #ededed;
	max-width: 600px;
	width: 100%;
	margin-bottom: 50px;
	padding: 15px;

}

.main-form-plg.mobls .ivs-field .ivs-input select{
height: none;
}	
.main-form-plg.mobls .ivs-field .ivs-input{
margin: 0px;
}

.main-form-plg.mobls .ivs-form .ivs-field label{
margin-top: 0px;
}	
.main-form-plg.mobls .ivs-form input{


	
	margin-bottom:0px;
	
	width: 100%!important;

}	


.main-form-plg.mobls .resend-block button{
	padding: 6px 12px;
}
.main-form-plg.mobls .resend-block{

	float: none;
	margin-top: 25px;

}

/*.main-form-plg.mobls button#verify_mcv,.main-form-plg.mobls button#verify_mcv_code , .main-form-plg.mobls button.resend_sms{

	font-size:100%;
	width: 110px!important;
	min-width: 11	0px;
	float: none;
	margin: 15px 0px 0px 0px;
	padding: 6px 25px;
	font-weight: normal;
	
	
}*/
.text-right{text-align: right;}
.text-center{text-align: center;}
.clear{clear: both;}


.response-tbl-ivs span{display: block;display: inline-block;min-width: 120px;text-align: left;padding: 10px 5px;}
.response-tbl-ivs div{text-align: center;padding: 5px;}
	


.tabs{width:100%;float:left;}
.tabs ul li{display:inline;float:left;padding:5px;background:#fff;color:#4986B0;margin:5px;}
.tabs ul li a,.tabs ul li a:visited,.tabs ul li a:hover{text-decoration: none !important;}
.tabs ul li.active{color:#000 !important;font-weight: bold;border:1px solid;}